* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h2{
    color: #0066cc;
}

body {
  background: #f9f9f9;
  padding: 50px;
  margin: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: white;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  gap: 20px;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lang_icon {
  width: 26px;
  height: 18px;
  object-fit: cover;
}

.telegram_btn {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 8px 14px;
  background: #1E90FF;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}

.telegram_btn img {
  width: 18px;
}

.navbar {
  display: flex;
  justify-content:center ;
  align-items: center;
  background: #fff;
  padding: 12px 40px;
  display: flex;
  gap: 28px;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.navbar a:hover {
  color: #0066cc;
}

.banner img {
  width: 100%;
  margin-top: 10px;
}

